# Ambiente virtual
.venv/

# Variáveis de ambiente (NÃO subir senhas)
.env

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest
.pytest_cache/

# VSCode
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Arquivos de workspace
*.code-workspace