# Ambiente virtual
.venv/
venv/

# Variáveis de ambiente
.env

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Cache e relatórios de testes
.pytest_cache/
.coverage
htmlcov/

# Arquivos do sistema
.DS_Store

# VS Code
.vscode/

# Arquivos gerados pela exportação ETL
data/*_export.csv
data/relatorio_*.csv

# Logs
*.log

# Backups locais
*.sql

# VS Code Workspace
*.code-workspace